@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* RESETAR A PÁGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-image: url("img/index-fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o corpo ocupe toda a altura da tela */
}
/* FIM ^ */

/* *-- ESTILIZAÇÃO DO CABEÇALHO --* */
.menu-icon {
  font-size: 35px;
  cursor: pointer;
}

/* Alinhamento correto entre logo à esquerda e menu à direita */
.navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center; /* para centralizar verticalmente */
  padding: 20px;
  border: solid 0.01px #cc0e0e6b;
}

/* *-- MAIN SECTION --* */
.titulo-bv {
  padding-top: 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: orange;
}

.img-main {
  padding-top: 30px;
  width: 300px;  /* ou outro valor menor, como 200px */
  height: auto;  /* mantém a proporção da imagem */
  display: block;
  margin: 0 auto; /* centraliza horizontalmente */
}

.titulo-main {
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.branco-main {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  font-size: 20px;
}

.laranja-main {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: orange;
  text-align: center;
}

.box-main {
  display: flex;
  justify-content: center; /* centraliza horizontalmente o bloco */
  padding-top: 5px;
}

.p-main {
  color: white;
  text-align: left; /* alinha o texto à esquerda dentro da caixa */
  max-width: 250px;  /* define uma largura para centralizar o bloco */
  font-family: "Montserrat", sans-serif;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center; /* para centralizar verticalmente */
  padding: 20px;
  border: solid 0.01px #cc0e0e6b;
}
